n8n-workflows/all-workflows.json
[{"updatedAt":"2026-02-19T17:37:51.089Z","createdAt":"2026-02-19T16:16:39.252Z","id":"pJeajj61fQ5sUsNW","name":"Website Chat to WhatsApp","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"chat-whatsapp","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"c4cc2c94-1239-40a2-9dbd-6de66e628d1e","name":"Webhook","webhookId":"b3b34899-3949-42b4-a4fa-8c7a34a99566"},{"parameters":{"jsCode":"// Your knowledge base (same content as dummy_data.txt)\nconst knowledgeBase = `Nexova: Revolutionizing Sales & Support with AI\nAutomating the full work of sales agents and customer support with AI-driven intelligence.\n\nThe Challenge: Today's Sales & Support Landscape\n- Delayed Customer Responses: Businesses struggle to reply instantly to every WhatsApp inquiry, leading to missed sales and frustrated customers.\n- Limited Human Capacity: Handling hundreds of daily messages manually drains time and resources, making it hard to scale efficiently.\n- Inconsistent Communication: Different team members often respond in varied tones or with incomplete information, affecting brand trust and professionalism.\n\nThe Solution: Nexova\n- AI-Powered Solution: Automating the full work of sales agents and customer support.\n- Seamless Integration: WhatsApp Integration. No complex setup required.\n- Automated Responses: Instantly responds to customer queries, handles orders or bookings.\n- Improve Customer Experience: From frustration to automation.\n\nHow Nexova Works:\n1. WhatsApp Integration: No complex setup required.\n2. Train the AI: Create different intents to train AI to reply.\n3. Automate and Optimize Conversations: The AI instantly responds to customer queries, handles orders or bookings, and continuously improves with each interaction.\n\nSuccess Stories:\n- A leading name in the fashion industry: Partnered with Nexova to streamline customer engagement. Significant increase in customer satisfaction and operational efficiency.\n- Pierre Cardin Pakistan: Official retailer. Uses Nexova for luxury, innovation, and timeless fashion customer engagement.\n- Allure Beauty: Uses Nexova for handling queries about top-tier Makeup, Fragrances, Skincare at the best prices.\n\n---\nMenu and Product Catalog:\n\n1. Zinger Burger - $5.99\n   - Crispy chicken fillet with spicy mayo and lettuce.\n2. Cheese Pizza (Large) - $12.99\n   - Loaded with mozzarella and cheddar cheese.\n3. Pepperoni Pizza (Large) - $14.99\n   - Classic pepperoni slices on cheese.\n4. French Fries - $2.99\n   - Golden crispy fries with salt.\n5. Coke / Pepsi (Can) - $1.50\n   - Chilled soft drink.\n\nOrdering Policy:\n- Minimum order: $10.\n- Delivery time: 30-45 minutes.\n- Payment: Cash on Delivery or Card.`;\n\n// Get the user's message from the webhook\nconst userMessage = $input.first().json.body.message;\nconst phone = $input.first().json.body.phone;\n\n// Split knowledge base into paragraphs\nconst paragraphs = knowledgeBase.split('\\n\\n').filter(p => p.trim());\n\n// Score each paragraph by keyword matches (same logic as your Python code)\nconst queryWords = userMessage.toLowerCase().split(/\\s+/);\nconst scored = paragraphs.map(para => {\n  const paraLower = para.toLowerCase();\n  let score = 0;\n  for (const word of queryWords) {\n    if (paraLower.includes(word)) score++;\n  }\n  return { score, text: para };\n});\n\n// Sort by score and take top 3\nscored.sort((a, b) => b.score - a.score);\nconst topDocs = scored.filter(s => s.score > 0).slice(0, 3);\nconst context = topDocs.map(d => d.text).join('\\n---\\n');\n\nreturn [{\n  json: {\n    message: userMessage,\n    phone: phone,\n    context: context\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"4e85f4f1-77f1-424d-aa6d-98406e2fa0f9","name":"Code in JavaScript"},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.requestBody) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[624,0],"id":"fcae8821-0542-4d1c-ad82-2cd3af491a0e","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"OfxolarhjJh20Asr","name":"Header Auth account"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v21.0/YOUR_PHONE_NUMBER_ID/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Code in JavaScript').item.json.phone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $json.choices[0].message.content }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[832,0],"id":"e03d1dc8-b244-4c82-9f9d-c9f85a21ce80","name":"HTTP Request1","credentials":{"httpHeaderAuth":{"id":"knY0wkY2V4GYUqI0","name":"Header Auth account 2"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": \"sent\",\n  \"response\": \"{{ $('HTTP Request').item.json.choices[0].message.content }}\",\n  \"message\": \"Response sent to your WhatsApp!\"\n}\n","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1040,0],"id":"92206b99-7ab5-459a-ab07-eb7545dedd94","name":"Respond to Webhook"},{"parameters":{"jsCode":"const context = $input.first().json.context;\nconst message = $input.first().json.message;\nconst phone = $input.first().json.phone;\n\nreturn [{\n  json: {\n    phone: phone,\n    requestBody: {\n      model: \"llama-3.3-70b-versatile\",\n      messages: [\n        {\n          role: \"system\",\n          content: \"You are the AI Sales Agent for Nexova. Your goal is to answer questions about Nexova based ONLY on the provided context. Be helpful, professional, and concise.\\n\\nContext:\\n\" + context\n        },\n        {\n          role: \"user\",\n          content: message\n        }\n      ],\n      temperature: 0.7,\n      max_tokens: 1024\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,0],"id":"0aa17003-288c-46d1-9cbb-7c5a35324fcf","name":"Build Groq Request"}],"connections":{"Webhook":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Build Groq Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Build Groq Request":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"7c9d8494-c8a4-428d-90da-4cb909a4c757","activeVersionId":"7c9d8494-c8a4-428d-90da-4cb909a4c757","versionCounter":60,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-19T16:16:39.260Z","createdAt":"2026-02-19T16:16:39.260Z","role":"workflow:owner","workflowId":"pJeajj61fQ5sUsNW","projectId":"gpzwOcGwVevEa2f2","project":{"updatedAt":"2026-02-19T16:04:31.800Z","createdAt":"2026-02-19T16:03:48.607Z","id":"gpzwOcGwVevEa2f2","name":"Your Name <your-email@example.com>","type":"personal","icon":null,"description":null,"creatorId":"69ce8a0b-f131-4755-83a2-d65e312b6d40"}}]},{"updatedAt":"2026-02-19T18:15:10.386Z","createdAt":"2026-02-19T17:55:34.506Z","id":"kUvj5hVwQ4YnecwQ","name":"WhatsApp Auto Reply","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp-webhook","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"babf279e-ea4e-403b-a3a6-b7bd08097c4f","name":"Webhook","webhookId":"56e6cb4b-c94b-4f9e-baf3-a078e0d7acf3"},{"parameters":{"jsCode":"const body = $input.first().json.body;\n\n// Meta WhatsApp Cloud API sends messages in this format:\n// { entry: [{ changes: [{ value: { messages: [...] } }] }] }\nconst entry = body.entry;\nif (!entry || entry.length === 0) {\n  return []; // Not a valid webhook event\n}\n\nconst changes = entry[0].changes;\nif (!changes || changes.length === 0) {\n  return [];\n}\n\nconst value = changes[0].value;\nconst messages = value.messages;\nif (!messages || messages.length === 0) {\n  return []; // No messages (could be a status update)\n}\n\nconst msg = messages[0];\nconst phone = msg.from; // sender's phone number\n\n// Extract text\nlet textBody = '';\nif (msg.type === 'text') {\n  textBody = msg.text.body || '';\n}\n\nif (!textBody || !phone) {\n  return []; // No text to process\n}\n\nreturn [{\n  json: {\n    phone: phone,\n    message: textBody\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"e5aabcc0-2719-4626-92f1-ba7e3a9e650e","name":"Code in JavaScript"},{"parameters":{"jsCode":"// Nexova Knowledge Base\nconst knowledgeBase = `The Challenge: Today's Sales & Support Landscape\n- Delayed Customer Responses: Businesses struggle to reply instantly to every WhatsApp inquiry, leading to missed sales and frustrated customers.\n- Limited Human Capacity: Handling hundreds of daily messages manually drains time and resources, making it hard to scale efficiently.\n- Inconsistent Communication: Different team members often respond in varied tones or with incomplete information, affecting brand trust and professionalism.\n---\nThe Solution: Nexova\n- AI-Powered Solution: Automating the full work of sales agents and customer support.\n- Seamless Integration: WhatsApp Integration. No complex setup required.\n- Automated Responses: Instantly responds to customer queries, handles orders or bookings.\n- Improve Customer Experience: From frustration to automation.\n---\nHow Nexova Works:\n1. WhatsApp Integration: No complex setup required.\n2. Train the AI: Create different intents to train AI to reply.\n3. Automate and Optimize Conversations: The AI instantly responds to customer queries, handles orders or bookings, and continuously improves with each interaction.\n---\nSuccess Stories:\n- Starter Plan: $49/month - 1 WhatsApp number, 500 messages\n- Professional Plan: $149/month - 3 WhatsApp numbers, 2000 messages\n- Enterprise Plan: Custom pricing - Unlimited numbers and messages\n---\nMenu & Ordering:\n- Burger: $5.99\n- Pizza: $8.99\n- Pasta: $7.99\n- Salad: $4.99\n- Drink: $1.99\n---\nOrdering Policy:\n- Minimum order: $10\n- Free delivery over $25\n- Delivery time: 30-45 minutes\n- Payment: Cash on delivery or online payment`;\n\n// Get data from the previous node\nconst userMessage = $input.first().json.message;\nconst phone = $input.first().json.phone;\n\n// Split knowledge base into sections\nconst sections = knowledgeBase.split('---').map(s => s.trim()).filter(s => s.length > 0);\n\n// Score each section by keyword overlap\nconst queryWords = userMessage.toLowerCase().split(/\\s+/);\n\nconst scored = sections.map(section => {\n  const sectionLower = section.toLowerCase();\n  let score = 0;\n  for (const word of queryWords) {\n    if (word.length > 2 && sectionLower.includes(word)) {\n      score += 1;\n    }\n  }\n  return { text: section, score: score };\n});\n\n// Sort by score and take top 3\nscored.sort((a, b) => b.score - a.score);\nconst topDocs = scored.filter(s => s.score > 0).slice(0, 3);\nconst context = topDocs.map(d => d.text).join('\\n---\\n');\n\nreturn [{\n  json: {\n    message: userMessage,\n    phone: phone,\n    context: context\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,0],"id":"f2083c4e-1327-4e36-862d-e5dabfdd3681","name":"Code in JavaScript1"},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.requestBody) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[832,0],"id":"0682d741-dfa9-4a58-b22f-1192d3c63be8","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"OfxolarhjJh20Asr","name":"Header Auth account"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v21.0/YOUR_PHONE_NUMBER_ID/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Code in JavaScript1').item.json.phone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $json.choices[0].message.content }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1040,0],"id":"d0351e8a-9c53-44f6-aaef-c93f5aa5690d","name":"HTTP Request1","credentials":{"httpHeaderAuth":{"id":"knY0wkY2V4GYUqI0","name":"Header Auth account 2"}}},{"parameters":{"jsCode":"const context = $input.first().json.context;\nconst message = $input.first().json.message;\nconst phone = $input.first().json.phone;\n\nreturn [{\n  json: {\n    phone: phone,\n    requestBody: {\n      model: \"llama-3.3-70b-versatile\",\n      messages: [\n        {\n          role: \"system\",\n          content: \"You are the AI Sales Agent for Nexova. Your goal is to answer questions about Nexova based ONLY on the provided context. Be helpful, professional, and concise.\\n\\nContext:\\n\" + context\n        },\n        {\n          role: \"user\",\n          content: message\n        }\n      ],\n      temperature: 0.7,\n      max_tokens: 1024\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,0],"id":"c002bf82-9dca-4ce3-be3a-11cc21b3d6a0","name":"Build Groq Request"},{"parameters":{"respondWith":"json","responseBody":"{ \"status\": \"ok\" }","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1248,0],"id":"57171d86-2528-4b87-bad0-e2fa89c0656a","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Build Groq Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Build Groq Request":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"b257e032-98d3-45e1-b4ad-0d6ed1da12c1","activeVersionId":"b257e032-98d3-45e1-b4ad-0d6ed1da12c1","versionCounter":41,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-19T17:55:34.512Z","createdAt":"2026-02-19T17:55:34.512Z","role":"workflow:owner","workflowId":"kUvj5hVwQ4YnecwQ","projectId":"gpzwOcGwVevEa2f2","project":{"updatedAt":"2026-02-19T16:04:31.800Z","createdAt":"2026-02-19T16:03:48.607Z","id":"gpzwOcGwVevEa2f2","name":"Your Name <your-email@example.com>","type":"personal","icon":null,"description":null,"creatorId":"69ce8a0b-f131-4755-83a2-d65e312b6d40"}}]}]
